<p id="notice"><%= notice %></p>

<h1>Listing Crimes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Year</th>
      <th>Month</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crimes.each do |crime| %>
      <tr>
        <td><%= crime.description %></td>
        <td><%= crime.year %></td>
        <td><%= crime.month %></td>
        <td><%= crime.location %></td>
        <td><%= link_to 'Show', crime %></td>
        <td><%= link_to 'Edit', edit_crime_path(crime) %></td>
        <td><%= link_to 'Destroy', crime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Import Crimes</h2>

<%= form_tag import_crimes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Load Crime Zones" %>
<% end %>

<br>

<%= link_to 'New Crime', new_crime_path %>
