<h1>New Crime</h1>

<%= render 'form' %>



<%= form_for(@crime, :html => {:multipart => true}) do |f| %>
<div class="field">
   <%= f.label :avatar %><br />
   <%= f.file_field :avatar %>
  </div>
<% end %>
<br>


<%= link_to 'Back', crimes_path %>
