<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @crime.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @crime.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @crime.month %>
</p>

<p>
  <strong>Location:</strong>
  <%= @crime.location %>
</p>

<%= link_to 'Edit', edit_crime_path(@crime) %> |
<%= link_to 'Back', crimes_path %>
